html,
body,
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-color: rgb(205, 242, 248);
}
:root {
  /* Define Colors as colors */
  --black: #131313;
  --light-black: #232323;
  --white: #fff;
  --off-white: #f0f1f6;
  --dark-grey: #1a2f41;
  --grey: #252c30;
  --lightGrey: #f2f4f6;
  /* Define Colors intentions */
  --background-primary: var(--light-black);
  --skill-background: var(--black);
  --card-background: var(--light-black);
  --card-text: var(--white);
  --background-secondary: var(--dark-grey);
  --text-primary: var(--white);
  --text-secondary: var(--black);
  --modal-background: var(--black);
  --modal-text: var(--white);
  --student-text: var(--white);
  --link-text: var(--white);
  --nav-line: var(--white);
  --header-btn: var(--white);
  --footer-icon: var(--light-black);
  /* Styles */

  /* Type */

  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
h1 {
  font-size: var(--h2);
}
h2 {
  font-size: var(--h3);
}
h3 {
  font-size: var(--h4);
}

.link {
  font-size: var(--h4);
}

button {
  font-size: var(--h4);
}
.container {
  margin: 0 auto;
  padding: 0rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdd2cb;
}
h1 {
  margin: auto;
  margin-left: 4rem;
  padding: 1rem;
  text-align: center;
}
nav a,
nav button,
nav span {
  margin: 2rem;
}
nav a {
  color: #444;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 1rem;
}
a:hover {
  background-color: rgb(250, 250, 225);
}
nav span {
  color: #777;
}
button {
  background: #00dba4;
  border: 0;
  padding: 6px 10px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

/* forms */
label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: var(--h4);
}
input {
  width: 20rem;
  height: 3rem;
  font-size: var(--h4);
}
form button {
  display: block;
  margin-top: 20px;
}

form {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.center {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border: solid rgb(250, 208, 208) 0.2rem;
}
