html,
body,
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background: url("https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?cs=srgb&dl=pexels-simon-berger-1323550.jpg&fm=jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
:root {
  /* Define Colors as colors */
  --black: #131313;
  --light-black: #232323;
  --white: #fff;
  --off-white: #f0f1f6;
  --dark-grey: #1a2f41;
  --grey: #252c30;
  --lightGrey: #f2f4f6;
  /* Define Colors intentions */
  --background-primary: var(--light-black);
  --skill-background: var(--black);
  --card-background: var(--light-black);
  --card-text: var(--white);
  --background-secondary: var(--dark-grey);
  --text-primary: var(--white);
  --text-secondary: var(--black);
  --modal-background: var(--black);
  --modal-text: var(--white);
  --student-text: var(--white);
  --link-text: var(--white);
  --nav-line: var(--white);
  --header-btn: var(--white);
  --footer-icon: var(--light-black);
  /* Styles */

  /* Type */

  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
h1 {
  font-size: var(--h2);
}
h2 {
  font-size: var(--h3);
}
h3 {
  font-size: var(--h4);
}

.link {
  font-size: var(--h4);
}

button {
  font-size: var(--h4);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  margin: auto;
  margin-left: 4rem;
  padding: 1rem;
  text-align: center;
}
nav a,
nav button,
nav span {
  margin: 2rem;
}
nav a {
  color: #444;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 1rem;
}
a:hover {
  background-color: rgb(250, 250, 225);
}
nav span {
  color: #777;
}
button {
  margin-top: 1rem;
  background-color: #e00000;
  border: 0;
  padding: 0.5rem 0.8rem;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
}

.addbtn {
  height: 8rem;
  width: 20rem;
  margin-left: 2.8rem;
}

/* forms */
label {
  display: block;
  font-size: var(--h4);
  margin-left: 2.8rem;
}
input {
  width: 40rem;
  height: 3rem;
  padding: 1.5rem 2rem;
  margin-left: 2.8rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 1.6rem;
  resize: none;
}
form button {
  display: block;
  margin-top: 20px;
}

form {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.center {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border: solid rgb(250, 208, 208) 0.2rem;
}

textarea {
  width: 60rem;
  height: 50rem;
  padding: 1rem 2rem;
  margin-left: 2.8rem;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.addform {
  display: flex;
  flex-direction: column;
}

.logged {
  width: 50rem;
  display: flex;
}

.logas {
  color: #444;
  text-decoration: none;
  font-weight: bold;
  padding: 3.2rem;
}

.cardname {
  font-size: 2.5rem;
}

.cardcontent {
  font-size: 1.5rem;
}
